<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pizza Planet - Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>

    <%- include('partials/_header') %>

    <h2>Order with us</h2>

    <main id="menu">
      <h3>DISHES</h3>
      <section class="pizza">
        <!-- APPEND DISHES -->
        <% for (let item of menuItems) { %>
            <article class="dish">
              <div>
                <img class="dish-image" src="<%= item.image_url %>">
              </div>
              <div class="dish-info">
                <h4><%= item.name %></h4>
                <p><%= item.description %></p>
                <form class="add-dish">
                  <input type='hidden' name='dishID' value="<%= item.id %>" >
                  <input type='hidden' name='dishName' value="<%= item.name %>" >
                  <button class="add-to-cart" type="submit">ADD TO CART</button>
                </form>
              </div>
            </article>
        <% } %>
      </section>

      <button class="order-button">GO TO CART</button>
    </main>

    <%- include('partials/_footer') %>
    <%- include('partials/_cart') %>

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/cart.js"></script>
    <script type="text/javascript" src="/scripts/login-logout.js"></script>
    <script type="text/javascript" src="/scripts/add-to-cart.js"></script>
    <script type="text/javascript" src="/scripts/render-cart.js"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>
  </body>
</html>
